	
body {
      background-color: #AA3939; 
      color: #FFAA00; 
      font-family: arial, helvetica, sans-serif; 
      padding:15px; 
      line-height:1.4em
      }
      
      body section.writing {
    background-color:maroon;
    margin:auto;
    padding:2em;
    display:flex;
    flex-direction:row; 
    justify-content:space-between;
}

section.writing figure {
    flex:1;
   
    padding: 3vw;
    background-color:lemonchiffon;
}

section.writing div.analysis {
    flex:1;
    padding: 3vw;
    background-color:#AA3939;
    
    
}


body section.gallery {
    background-color: lavender; 
    background-image: none; 
    padding:2em; 
    margin:auto; 
    display:flex;
    flex-direction:row;
    }